<footer class="row site-footer">
    <div class="col-md-3">
        <h2 class="footer-brand">{{ site.title | escape }}</h2>
        <p>Copyright &copy;2016 by <a href="http://philschanely.com">Phil Schanely</a>. All rights reserved.</p>
    </div>
    <div class="col-md-9">
        <p>{{ site.description | escape }}</p>
        <ul class="list-inline">
            <li><a href="http://cedarville.edu">Cedarville</a></li>
            <li><a href="http://moodle.cedarville.edu">Moodle</a></li>
            <li><a href="http://codio.com">Codio</a></li>
            <li><a href="http://invisionapp.com">InVision</a></li>
        </ul>
    </div>
</footer>
<script type="text/javascript" src="/js/vendor-min.js"></script>
<script type="text/javascript" src="/js/scripts.js"></script>