<nav class="site-header navbar row">
    <div class="">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#site-nav" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="site-title navbar-brand" href="{{ "/" | relative_url}}">{{ site.title | escape }}</a>
        </div>
        <div class="collapse navbar-collapse navbar-default" id="site-nav">
            <ul class="nav navbar-nav">
                {% for my_page in site.pages %}
                {% if my_page.title %}
                <li><a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>